
    
     body { background-color: #000;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('imagens/wallpapersden.com_synthwave-and-retrowave_3840x2160.jpg');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;

        }


    h1 {text-align: center;
       color: #910024;
       background-color: #d355a5;
    }
     
   h2 {
      color: #ff1c99;
      background-color: #340ca3da;
      width: 730px;
   } 

   h3{
      color: #ff1c99;
      background-color: #340ca3da;
      width: 300px;
      
   }
   
   div{
      color: #ff1c99;
      background-color: #340ca3da;
      width: 200px;
      font-size: 20px;

   }
   

   a{
      color: rgb(255, 0, 191);
   }
   
   html {
      scroll-behavior: smooth;
  }
  